html
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    z-index: -5;
}

.bold
{
    font-weight: bold;
}

#bg
{
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    position: absolute;
}

a
{
    font-weight: bold;
}

a:hover
{
    font-size: 1.1em;
}

#errorBox
{
    font-family: "Lucida Console", Monaco, monospace;
    background-color: rgba(200, 200, 200, 0.95);
    width: 30%;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    border: 2px white outset;
    border-radius: 10px;
}

#errorBox h2
{
    margin-top: 8%;
    color: rgb(220, 0, 0);
    text-align: center;
}

#errorBox h3
{
    margin-top: 5%;
    margin-left: 5%;
}

#errorBox p#errorMsg
{
    margin: 7% 8% 0% 8%;
    text-align: center;
}

#errorBox p#contact
{
    position: absolute;
    bottom: 12%;
    width: 100%;
    text-align: center;
}

#errorBox #textRedirect
{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#infoBox
{
    font-family: "Lucida Console", Monaco, monospace;
    background-color: rgba(200, 200, 200, 0.95);
    width: 30%;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    border: 2px white outset;
    border-radius: 10px;
}

#infoBox h2
{
    margin-top: 8%;
    color: rgb(30, 30, 30);
    text-align: center;
}

#infoBox p#infoMsg
{
    margin: 15% 8% 0% 8%;
    text-align: center;
}

#infoBox #textRedirect, #logoutRedirect
{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
